@using BirovAm.data;
@model List<Message>

<div class="row">
    <div class="col-md-offset-2 col-md-6 well" style="width:700px">
        <h3 style="text-align:center">Messages</h3>

        <div style="margin-top:10px; text-align:center" class="row">
            <div class="col-md-offset-1">
                <table class="table table-bordered table-striped table-hover" style="width:600px">
                    <tr>
                        <th>Phone Number</th>
                        <th>Message</th>
                    </tr>
                    @foreach (Message m in Model)
                     {
                        <tr>
                            <td>@m.PhoneNumber</td>
                            <td><a href="@m.MessageURL">Message</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>