@using BirovAm.data;
@model List<ProductsSold>

<h2>ProductsOrderedCount</h2>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Product</th>
        <th>Size</th>
        <th>Amount Sold</th>
    </tr>
    @foreach(ProductsSold ps in Model.OrderBy(p => p.ProductCode).ThenBy(p => p.Size))
    {
        <tr>
            <td>@ps.ProductCode</td>
            <td>@ps.Size</td>
            <td>@ps.AmountSold</td>
        </tr>
    }
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="add-customer-modal">
    <div class="modal-dialog">
        <form method="POST" action="/Customers/AddCustomer" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="style-number">First Name</label>
                        <input type="text" class="form-control" name="FirstName" id="first-name" placeholder="First Name" required>
                    </div>
                    <div class="form-group">
                        <label for="style-number">Last Name</label>
                        <input type="text" class="form-control" name="LastName" id="last-name" placeholder="Last Name" required>
                    </div>
                    <div class="form-group">
                        <label for="brand">Address</label>
                        <input type="text" class="form-control" name="Address" id="address" placeholder="Address" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Phone Number</label>
                        <input type="text" class="form-control" name="PhoneNumber" id="phone-number" placeholder="Phone Number" required>
                    </div>

                    <input type="hidden" id="customer-id" value="" name="CustomerID" />
                    <input type="hidden" id="Message-URL" value="" name="MessageURL" />

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" id="submit-add">Add Customer</button>
                        <button class="btn btn-primary" id="submit-edit" formaction="/Customers/EditCustomer">Edit Customer</button>
                    </div>
                </div>
            </div>
        </form><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

